# IDE files and directories
/.idea/
/*.iml
/.settings/
/.project
/.classpath
/.factorypath
/.jsdtscope
/.vscode/
/*.travis.yml
/*.editorconfig
/*.csslintrc

# Temporary stuff
/assets/fitness/input
/src/demo
/src/sandbox

# OS garbage
.DS_Store
[Dd]esktop.ini
[Tt]humbs.db

# Build output
/node_modules/
/doc/api/
/typings/
/dist/
/*.tgz

# Crash logs and backups
/*.log
*~

package-lock\.json


lib/index\.d\.ts

lib/index\.js

lib/index\.js\.map

lib/main/AppComponent\.d\.ts

lib/main/AppComponent\.js

lib/main/AppComponent\.js\.map

lib/main/AppModule\.d\.ts

lib/main/AppModule\.js

lib/main/AppModule\.js\.map

lib/main/decryptor/BooleanOptionComponent\.d\.ts

lib/main/decryptor/BooleanOptionComponent\.js

lib/main/decryptor/BooleanOptionComponent\.js\.map

lib/main/decryptor/converters/Atbash\.d\.ts

lib/main/decryptor/converters/Atbash\.js

lib/main/decryptor/converters/Atbash\.js\.map

lib/main/decryptor/converters/CaesarCipher\.d\.ts

lib/main/decryptor/converters/CaesarCipher\.js

lib/main/decryptor/converters/CaesarCipher\.js\.map

lib/main/decryptor/converters/CaesarDecoder\.d\.ts

lib/main/decryptor/converters/CaesarDecoder\.js

lib/main/decryptor/converters/CaesarDecoder\.js\.map

lib/main/decryptor/converters/CaesarEncoder\.d\.ts

lib/main/decryptor/converters/CaesarEncoder\.js

lib/main/decryptor/converters/CaesarEncoder\.js\.map

lib/main/decryptor/converters/Converter\.d\.ts

lib/main/decryptor/converters/Converter\.js

lib/main/decryptor/converters/Converter\.js\.map

lib/main/decryptor/converters/KeywordCipher\.d\.ts

lib/main/decryptor/converters/KeywordCipher\.js

lib/main/decryptor/converters/KeywordCipher\.js\.map

lib/main/decryptor/converters/KeywordDecoder\.d\.ts

lib/main/decryptor/converters/KeywordDecoder\.js

lib/main/decryptor/converters/KeywordDecoder\.js\.map

lib/main/decryptor/converters/KeywordEncoder\.d\.ts

lib/main/decryptor/converters/KeywordEncoder\.js

lib/main/decryptor/converters/KeywordEncoder\.js\.map

lib/main/decryptor/converters/MorseDecoder\.d\.ts

lib/main/decryptor/converters/MorseDecoder\.js

lib/main/decryptor/converters/MorseDecoder\.js\.map

lib/main/decryptor/converters/MorseEncoder\.d\.ts

lib/main/decryptor/converters/MorseEncoder\.js

lib/main/decryptor/converters/MorseEncoder\.js\.map

lib/main/decryptor/converters/NumberDecoder\.d\.ts

lib/main/decryptor/converters/NumberDecoder\.js

lib/main/decryptor/converters/NumberDecoder\.js\.map

lib/main/decryptor/converters/options/BooleanOption\.d\.ts

lib/main/decryptor/converters/options/BooleanOption\.js

lib/main/decryptor/converters/options/BooleanOption\.js\.map

lib/main/decryptor/converters/options/ConverterOption\.d\.ts

lib/main/decryptor/converters/options/ConverterOption\.js

lib/main/decryptor/converters/options/ConverterOption\.js\.map

lib/main/decryptor/converters/options/NumberOption\.d\.ts

lib/main/decryptor/converters/options/NumberOption\.js

lib/main/decryptor/converters/options/NumberOption\.js\.map

lib/main/decryptor/converters/options/StringOption\.d\.ts

lib/main/decryptor/converters/options/StringOption\.js

lib/main/decryptor/converters/options/StringOption\.js\.map

lib/main/decryptor/converters/Reverse\.d\.ts

lib/main/decryptor/converters/Reverse\.js

lib/main/decryptor/converters/Reverse\.js\.map

lib/main/decryptor/converters/RomanDecoder\.d\.ts

lib/main/decryptor/converters/RomanDecoder\.js

lib/main/decryptor/converters/RomanDecoder\.js\.map

lib/main/decryptor/converters/RomanEncoder\.d\.ts

lib/main/decryptor/converters/RomanEncoder\.js

lib/main/decryptor/converters/RomanEncoder\.js\.map

lib/main/decryptor/converters/Rot13\.d\.ts

lib/main/decryptor/converters/Rot13\.js

lib/main/decryptor/converters/Rot13\.js\.map

lib/main/decryptor/converters/VigenereCipher\.d\.ts

lib/main/decryptor/converters/VigenereCipher\.js

lib/main/decryptor/converters/VigenereCipher\.js\.map

lib/main/decryptor/converters/VigenereDecoder\.d\.ts

lib/main/decryptor/converters/VigenereDecoder\.js

lib/main/decryptor/converters/VigenereDecoder\.js\.map

lib/main/decryptor/converters/VigenereEncoder\.d\.ts

lib/main/decryptor/converters/VigenereEncoder\.js

lib/main/decryptor/converters/VigenereEncoder\.js\.map

lib/main/decryptor/crackers/KeywordCracker\.d\.ts

lib/main/decryptor/crackers/KeywordCracker\.js

lib/main/decryptor/crackers/KeywordCracker\.js\.map

lib/main/decryptor/crackers/KeywordCrackerDialog\.d\.ts

lib/main/decryptor/crackers/KeywordCrackerDialog\.js

lib/main/decryptor/crackers/KeywordCrackerDialog\.js\.map

lib/main/decryptor/DecryptorComponent\.d\.ts

lib/main/decryptor/DecryptorComponent\.js

lib/main/decryptor/DecryptorComponent\.js\.map

lib/main/decryptor/DecryptorModule\.d\.ts

lib/main/decryptor/DecryptorModule\.js

lib/main/decryptor/DecryptorModule\.js\.map

lib/main/decryptor/DecryptorState\.d\.ts

lib/main/decryptor/DecryptorState\.js

lib/main/decryptor/DecryptorState\.js\.map

lib/main/decryptor/InputComponent\.d\.ts

lib/main/decryptor/InputComponent\.js

lib/main/decryptor/InputComponent\.js\.map

lib/main/decryptor/NumberOptionComponent\.d\.ts

lib/main/decryptor/NumberOptionComponent\.js

lib/main/decryptor/NumberOptionComponent\.js\.map

lib/main/decryptor/OptionComponent\.d\.ts

lib/main/decryptor/OptionComponent\.js

lib/main/decryptor/OptionComponent\.js\.map

lib/main/decryptor/OutputComponent\.d\.ts

lib/main/decryptor/OutputComponent\.js

lib/main/decryptor/OutputComponent\.js\.map

lib/main/decryptor/project/DecryptorInput\.d\.ts

lib/main/decryptor/project/DecryptorInput\.js

lib/main/decryptor/project/DecryptorInput\.js\.map

lib/main/decryptor/project/DecryptorNode\.d\.ts

lib/main/decryptor/project/DecryptorNode\.js

lib/main/decryptor/project/DecryptorNode\.js\.map

lib/main/decryptor/project/DecryptorOutput\.d\.ts

lib/main/decryptor/project/DecryptorOutput\.js

lib/main/decryptor/project/DecryptorOutput\.js\.map

lib/main/decryptor/project/DecryptorProject\.d\.ts

lib/main/decryptor/project/DecryptorProject\.js

lib/main/decryptor/project/DecryptorProject\.js\.map

lib/main/decryptor/SelectConverterDialog\.d\.ts

lib/main/decryptor/SelectConverterDialog\.js

lib/main/decryptor/SelectConverterDialog\.js\.map

lib/main/decryptor/StringOptionComponent\.d\.ts

lib/main/decryptor/StringOptionComponent\.js

lib/main/decryptor/StringOptionComponent\.js\.map

lib/main/index\.d\.ts

lib/main/index\.js

lib/main/index\.js\.map

lib/main/project/LoadProjectDialog\.d\.ts

lib/main/project/LoadProjectDialog\.js

lib/main/project/LoadProjectDialog\.js\.map

lib/main/project/Project\.d\.ts

lib/main/project/Project\.js

lib/main/project/Project\.js\.map

lib/main/project/ProjectComponent\.d\.ts

lib/main/project/ProjectComponent\.js

lib/main/project/ProjectComponent\.js\.map

lib/main/project/ProjectModule\.d\.ts

lib/main/project/ProjectModule\.js

lib/main/project/ProjectModule\.js\.map

lib/main/project/ProjectService\.d\.ts

lib/main/project/ProjectService\.js

lib/main/project/ProjectService\.js\.map

lib/main/project/ProjectState\.d\.ts

lib/main/project/ProjectState\.js

lib/main/project/ProjectState\.js\.map

lib/main/ui/ButtonDirective\.d\.ts

lib/main/ui/ButtonDirective\.js

lib/main/ui/ButtonDirective\.js\.map

lib/main/ui/ConfirmDialog\.d\.ts

lib/main/ui/ConfirmDialog\.js

lib/main/ui/ConfirmDialog\.js\.map

lib/main/ui/CustomCheckboxDirective\.d\.ts

lib/main/ui/CustomCheckboxDirective\.js

lib/main/ui/CustomCheckboxDirective\.js\.map

lib/main/ui/Dialog\.d\.ts

lib/main/ui/Dialog\.js

lib/main/ui/Dialog\.js\.map

lib/main/ui/DialogComponent\.d\.ts

lib/main/ui/DialogComponent\.js

lib/main/ui/DialogComponent\.js\.map

lib/main/ui/DialogOutletComponent\.d\.ts

lib/main/ui/DialogOutletComponent\.js

lib/main/ui/DialogOutletComponent\.js\.map

lib/main/ui/DialogService\.d\.ts

lib/main/ui/DialogService\.js

lib/main/ui/DialogService\.js\.map

lib/main/ui/FocusDirective\.d\.ts

lib/main/ui/FocusDirective\.js

lib/main/ui/FocusDirective\.js\.map

lib/main/ui/LabelDirective\.d\.ts

lib/main/ui/LabelDirective\.js

lib/main/ui/LabelDirective\.js\.map

lib/main/ui/NoUpdateOnEditDirective\.d\.ts

lib/main/ui/NoUpdateOnEditDirective\.js

lib/main/ui/NoUpdateOnEditDirective\.js\.map

lib/main/ui/StringValue\.d\.ts

lib/main/ui/StringValue\.js

lib/main/ui/StringValue\.js\.map

lib/main/ui/ToastComponent\.d\.ts

lib/main/ui/ToastComponent\.js

lib/main/ui/ToastComponent\.js\.map

lib/main/ui/ToastOutletComponent\.d\.ts

lib/main/ui/ToastOutletComponent\.js

lib/main/ui/ToastOutletComponent\.js\.map

lib/main/ui/ToastService\.d\.ts

lib/main/ui/ToastService\.js

lib/main/ui/ToastService\.js\.map

lib/main/ui/UIModule\.d\.ts

lib/main/ui/UIModule\.js

lib/main/ui/UIModule\.js\.map

lib/main/utils/Alphabet\.d\.ts

lib/main/utils/Alphabet\.js

lib/main/utils/Alphabet\.js\.map

lib/main/utils/array\.d\.ts

lib/main/utils/array\.js

lib/main/utils/array\.js\.map

lib/main/utils/async\.d\.ts

lib/main/utils/async\.js

lib/main/utils/async\.js\.map

lib/main/utils/Cancelable\.d\.ts

lib/main/utils/Cancelable\.js

lib/main/utils/Cancelable\.js\.map

lib/main/utils/Canceled\.d\.ts

lib/main/utils/Canceled\.js

lib/main/utils/Canceled\.js\.map

lib/main/utils/Equatable\.d\.ts

lib/main/utils/Equatable\.js

lib/main/utils/Equatable\.js\.map

lib/main/utils/error\.d\.ts

lib/main/utils/error\.js

lib/main/utils/error\.js\.map

lib/main/utils/FastString\.d\.ts

lib/main/utils/FastString\.js

lib/main/utils/FastString\.js\.map

lib/main/utils/promise\.d\.ts

lib/main/utils/promise\.js

lib/main/utils/promise\.js\.map

lib/main/utils/Quadgrams\.d\.ts

lib/main/utils/Quadgrams\.js

lib/main/utils/Quadgrams\.js\.map

lib/main/utils/Serializable\.d\.ts

lib/main/utils/Serializable\.js

lib/main/utils/Serializable\.js\.map

lib/main/utils/Signal\.d\.ts

lib/main/utils/Signal\.js

lib/main/utils/Signal\.js\.map

lib/main/utils/string\.d\.ts

lib/main/utils/string\.js

lib/main/utils/string\.js\.map

lib/spec/decryptor/converters/AtbashSpec\.d\.ts

lib/spec/decryptor/converters/AtbashSpec\.js

lib/spec/decryptor/converters/AtbashSpec\.js\.map

lib/spec/decryptor/converters/CaesarDecoderSpec\.d\.ts

lib/spec/decryptor/converters/CaesarDecoderSpec\.js

lib/spec/decryptor/converters/CaesarDecoderSpec\.js\.map

lib/spec/decryptor/converters/CaesarEncoderSpec\.d\.ts

lib/spec/decryptor/converters/CaesarEncoderSpec\.js

lib/spec/decryptor/converters/CaesarEncoderSpec\.js\.map

lib/spec/decryptor/converters/KeywordDecoderSpec\.d\.ts

lib/spec/decryptor/converters/KeywordDecoderSpec\.js

lib/spec/decryptor/converters/KeywordDecoderSpec\.js\.map

lib/spec/decryptor/converters/KeywordEncoderSpec\.d\.ts

lib/spec/decryptor/converters/KeywordEncoderSpec\.js

lib/spec/decryptor/converters/KeywordEncoderSpec\.js\.map

lib/spec/decryptor/converters/MorseDecoderSpec\.d\.ts

lib/spec/decryptor/converters/MorseDecoderSpec\.js

lib/spec/decryptor/converters/MorseDecoderSpec\.js\.map

lib/spec/decryptor/converters/MorseEncoderSpec\.d\.ts

lib/spec/decryptor/converters/MorseEncoderSpec\.js

lib/spec/decryptor/converters/MorseEncoderSpec\.js\.map

lib/spec/decryptor/converters/NumberDecoderSpec\.d\.ts

lib/spec/decryptor/converters/NumberDecoderSpec\.js

lib/spec/decryptor/converters/NumberDecoderSpec\.js\.map

lib/spec/decryptor/converters/ReverseSpec\.d\.ts

lib/spec/decryptor/converters/ReverseSpec\.js

lib/spec/decryptor/converters/ReverseSpec\.js\.map

lib/spec/decryptor/converters/RomanDecoderSpec\.d\.ts

lib/spec/decryptor/converters/RomanDecoderSpec\.js

lib/spec/decryptor/converters/RomanDecoderSpec\.js\.map

lib/spec/decryptor/converters/RomanEncoderSpec\.d\.ts

lib/spec/decryptor/converters/RomanEncoderSpec\.js

lib/spec/decryptor/converters/RomanEncoderSpec\.js\.map

lib/spec/decryptor/converters/Rot13Spec\.d\.ts

lib/spec/decryptor/converters/Rot13Spec\.js

lib/spec/decryptor/converters/Rot13Spec\.js\.map

lib/spec/decryptor/converters/VigenereDecoderSpec\.d\.ts

lib/spec/decryptor/converters/VigenereDecoderSpec\.js

lib/spec/decryptor/converters/VigenereDecoderSpec\.js\.map

lib/spec/decryptor/converters/VigenereEncoderSpec\.d\.ts

lib/spec/decryptor/converters/VigenereEncoderSpec\.js

lib/spec/decryptor/converters/VigenereEncoderSpec\.js\.map

lib/tools/fitness\.d\.ts

lib/tools/fitness\.js

lib/tools/fitness\.js\.map
