<header>
  <input #projectNameInput type="text" [(ngModel)]="projectName" no-update-on-edit placeholder="Projeto sem nome"
         (keydown.enter)="save() && $event.target.blur()" />
  <nav>
    <button class="save" [disabled]="saved" (click)="save()">Salvar</button>
    <button class="load" (click)="load()">Carregar</button>
    <button class="add-input" (click)="addInput()">Adicionar Entrada</button>
  </nav>
</header>

<div class="inputs">
  <div class="panels">
    <div class="panel" *ngFor="let input of project.getInputs()">
      <decryptor-input [input]="input"></decryptor-input>
    </div>
  </div>
</div>

<div *ngIf="showInstructions" class="instructions">
  <h1>Começando</h1>
  <ol>
    <li>Digite os dados que deseja desencriptar na caixa de entrada acima.</li>
    <li>Pressione o botão <em>Decrypt</em> no título da caixa de entrada.</li>
    <li>Escolha o conversor que deseja usar para descriptografar a entrada.</li>
  </ol>
</div>
