<div class="dialog keyword-cracker-dialog">
  <h1>Keyword cracker</h1>
  <button class="close" (click)="close()"></button>
  <p>
    A palavra-chave cracker continua tentando encontrar os resultados mais valiosos e lista-os abaixo ordenados por seus
    pontuação <em>inglesa</em>. Clique em um resultado para aceitá-lo.
  </p>
  <div class="controls">
    <span class="progress" *ngIf="running">
      Run {{ run }} ({{ progress }}%)
    </span>
    <span *ngIf="!running">
      Cracking stopped
    </span>
    <nav>
      <button *ngIf="running" class="stop" (click)="stop()">Parar</button>
      <button *ngIf="!running" class="clear" (click)="clear()">Limpar</button>
      <button *ngIf="!running" class="start" (click)="start()">Começar</button>
    </nav>
  </div>
  <div class="results">
    <div class="result" *ngFor="let result of results"  (click)="close(result.getKeyword())">
      <h1>{{ result.getKeyword() }} <span class="score">({{ result.getScore().toFixed(2) }})</span></h1>
      <p>
        {{ result.getMessage() }}
      </p>
    </div>
    <p *ngIf="emptyResult">
      No results recorded so far.
    </p>
  </div>
  <button class="cancel" (click)="close()">Cancelar</button>
</div>
